<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Final Project </title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" href="../static/fb.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="form">
            <form action="{{ url_for('predict') }}" method="post">
                <h2 >Predict Your Cab Price</h2>
                <input name="cab_type" type="text" placeholder="0:Lyft | 1:Uber" id="scd" , required="required">
                <input name="name" type="text" placeholder="Taxi Lyft or Uber Name" id="scd" , required="required">
                <input name="distance" type="text" placeholder="Fill in the distance value (ex:2)" id="hgh" required="required">
                <input name="source" type="text" placeholder="Source" id="scr" required="required">
                <input name="short_summary" type="text" placeholder="Test" id="scr" required="required">
                <input name="surge_multipler" type="text" placeholder="Value Between 1; 1.25; 1.5; 1.75; 2; 2.5; 3" id="dgr" required="required">
                
                <button type="submit">PREDICT</button>
                <p class="message">{{ prediction_text }}</p>
            </form>
        </div>
        
        <div class="descrptive">
        </div>
    </div>
</body>
</html>